
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50px;
    width: 7rem;
    margin-bottom: 20px;
}

.row{
    padding-top: 50px;
}

.card-img-top{
    height: 300px;
    width: 300px;
}
.navbar{
    background-color: blue;
    color: black;
} 
.ContactUs{
    align-items: left;
    display: flex;
    justify-content: end;
}
.card-img{
    height: 300px;
    width: 350px;
}
.card-img-top1{
    height: 350px;
    width: 250px;
     
}
.card:hover{
    transform: scale(1.1);
    z-index: 9;
}
